div.menu-link {
    padding: 5px;
    transition: 400ms ease;
    display: flex;
    align-items: center;
}

div.menu-link p {
    text-decoration: none;
    margin: 0;
    flex-grow: 1;
}

div.menu-link p.align-right {
	float: right;
}

input.normal-checkbox {
    margin-right: 5px;
}

div.icons {
	border-style: none;
}